<div class="container beer-details">
  <button class="go-back-btn mt-2" (click)="goBack()">
    <i class="fas fa-arrow-left"></i>
  </button>
  <div *ngIf="!beer" class="loading-sign">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="beer" class="row mt-2">
    <div class="det-image-wrapper col-auto">
      <img src="{{ beer.image_url }}" alt="" class="img-fluid" />
    </div>
    <div class="col info-wrapper">
      <h2>{{ beer.name | uppercase }}</h2>
      <span class="font-italic tagline">{{ beer.tagline }}</span>
      <br />
      <div class="beer-unit-wrapper">
        <div class="d-inline-block beer-unit">
          <strong>Abv:</strong> {{ beer.abv }}%
        </div>
        <i class="far fa-question-circle">
          <div class="tooltips">
            ABV, or alcohol by volume, is the standard measurement, used
            worldwide, to assess the strength of a particular beer.
          </div></i
        >
      </div>
      <div class="beer-unit-wrapper">
        <div class="d-inline-block beer-unit">
          <strong>Ibu:</strong> {{ beer.ibu }}
        </div>
        <i class="far fa-question-circle">
          <div class="tooltips">
            IBU is an abbreviation for the International Bitterness Units scale,
            a gauge of beer's bitterness.
          </div></i
        >
      </div>

      <br />
      <span class="description">{{ beer.description }}</span>
      <div class="details mt-3">
        <strong>First brewed:</strong>
        {{ beer.first_brewed }}
        <div>
          <strong class="more-info">
            Malt:
            <span class="tooltips">
              Malt is grain that has been specially prepared for brewing.
            </span>
          </strong>
          <span>
            {{ getIngredientNames(beer.ingredients.malt).join(", ") }}
          </span>
        </div>
        <div>
          <strong class="more-info">
            Hops:
            <span class="tooltips">
              Hops, also known as the alpha acid, are the cone-shaped flowers
              from the plant Humulus Lupulus that are used in brewing beer.
            </span>
          </strong>
          <span>
            {{ getIngredientNames(beer.ingredients.hops).join(", ") }}
          </span>
        </div>
        <div>
          <strong>Yeast:</strong>
          <span>
            {{ beer.ingredients.yeast }}
          </span>
        </div>
        <div>
          <strong>Food pairing:</strong>
          {{ beer.food_pairing.join(", ") }}
        </div>
      </div>
    </div>
  </div>
</div>
