body {
  color: black;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}

.video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
