<div class="container welcome-page">
  <h1>Welcome to Deale's Beer Party</h1>
  <p>
    If a Beer Party sounds awesome but you don't know anything about beer, this
    web application was built for you! <br />
    Why don't you watch this short YouTube video that explains how beer is made?
    Then you can browse through our selection of beers...
  </p>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/VqNxYtM_Cf8"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
