.welcome-page {
  background: rgb(190, 172, 116, 0.3);
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 20px;
}

.welcome-page h1 {
  margin-bottom: 20px;
}

.welcome-page p {
  line-height: 1.5;
  font-size: 20px;
}

.welcome-page iframe {
  margin-top: 50px;
  max-width: 700px;
}
