<div class="container">
  <h2>List Of Beers</h2>
  <div class="beers-list mt-3">
    <ul class="row text-center">
      <li class="col-md-4 beer-wrapper" *ngFor="let beer of beers">
        <div class="beer-image-wrapper">
          <img src="{{ beer.image_url }}" alt="" />
        </div>
        <div>
          <span>{{ beer.name }} <br /></span>
          <span>"{{ beer.tagline }}"</span>
        </div>
        <div class="overview">
          <button (click)="onSelect(beer)">DETAILS</button>
        </div>
      </li>
    </ul>
  </div>
  <app-beer-detail [beer]="selectedBeer"></app-beer-detail>
</div>
