<div class="container our-beers">
  <h2 class="text-center my-3 pt-3">Our Beers</h2>
  <div class="random-beer">
    <a (click)="getRandomBeerAndRedirect()">
      <button><i class="fas fa-random"></i> Get random beer</button>
    </a>
  </div>
  <div class="beers-list mt-3">
    <ul class="row text-center">
      <li class="col-md-4 beer-wrapper" *ngFor="let beer of beers">
        <div *ngIf="!beer" class="loading-sign">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="beer-image-wrapper">
          <img src="{{ beer.image_url }}" alt="" />
        </div>
        <div class="beer-basics">
          <span class="beer-name">{{ beer.name }} <br /></span>
          <span>"{{ beer.tagline }}"</span>
        </div>
        <div class="overview">
          <a routerLink="/detail/{{ beer.id }}">
            <button>DETAILS</button>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
