<div class="container">
  <h2 class="text-center my-3">Our Beers</h2>
  <div class="beers-list mt-3">
    <ul class="row text-center">
      <li class="col-md-4 beer-wrapper" *ngFor="let beer of beers">
        <div class="beer-image-wrapper">
          <img src="{{ beer.image_url }}" alt="" />
        </div>
        <div>
          <span>{{ beer.name }} <br /></span>
          <span>"{{ beer.tagline }}"</span>
        </div>
        <div class="overview">
          <a routerLink="/detail/{{ beer.id }}">
            <button>DETAILS</button>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
